@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Kalam', cursive;;
}

body{
    margin: 0;
    background: linear-gradient(90deg,#2bc0e4 10%, #eaecc6 90%);
}

header{
    color: #fff;
    background-color: #2980b9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-transform: uppercase;
}

h1{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

input{
    width: 100%;
    border: none;;
    padding: 13px 13px 13px 20px;
    color: #2980b9;
    font-weight: 400;
    font-size: 18px;
    background-color: #f7f7f7;
}

input:focus{
    background-color: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

ul{
    margin:0;
    padding: 0;
}

li{
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    color: #666;
    text-transform: capitalize;
    cursor: pointer;
}

li:nth-of-type(2n+1){
    background-color: #fff;
}

li:hover span{
    width: 40px;
    opacity: 1;
}

header i{
    font-size: 1.5rem;
}

span{
background-color: #e74c3c;
height: 40px;
width: 0;
margin-right: 20px;
text-align: center;
color: #fff;
display: inline-block;
transition: 0.2s linear;
opacity: 0;
}
  
#container{
    max-width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0,0.1); 
}

.checked{
    text-decoration: line-through;
    color: #808080;
}